#Header{
    background-color: rgb(60, 79, 112);
    width: 100%;
    height: 50px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -18px;
    position: absolute;
}
#HeaderTitle{
    color: white;
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 28px;
}
#Title{
    position: absolute;
    color: rgb(0, 0, 0);
    margin-top: 70px;
    margin-left: 830px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 34px;
}
#CalendarBody{
    position: absolute;
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 350px;
    background-color: #80C9E7;
    width: 1145px;
    height: 725px;
}
#Time{
    position: relative;
    border-radius: 17px;
    background-color: white;
    height: 620px;
    width: 120px;
    margin-left: 20px;
    margin-top: 90px;
}
#flexBox{
    margin-top: -685px;
    position: absolute;
    display: flex;
    flex-direction: row;
}
#Day1{
    margin-left: 150px;
    width: 190px;
    height: 690px;
}
#Day2{
    margin-left: 5px;
    width: 190px;
    height: 690px;
}
#Day3{
    margin-left: 5px;
    width: 190px;
    height: 690px;
}
#Day4{
    margin-left: 5px;
    width: 190px;
    height: 690px;
}
#Day5{
    margin-left: 5px;
    width: 190px;
    height: 690px;
}
.Day{
    margin-top: 62px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.timeCell{
    margin-top: 5px;
    background-color: #A9E1F6;
    width: 190px;
    height: 64px;
}
#topCell1, #topCell2, #topCell3, #topCell4, #topCell5{
    border-radius: 20px 20px 0px 0px;
}
#bottomCell1, #bottomCell2, #bottomCell3, #bottomCell4, #bottomCell5{
    border-radius: 0px 0px 20px 20px;
}
#bottomCell1:hover, #bottomCell2:hover, #bottomCell3:hover, #bottomCell4:hover, #bottomCell5:hover, #topCell1:hover, #topCell2:hover, #topCell3:hover, #topCell4:hover, #topCell5:hover {
    background-color: #d3f3ff;
    cursor: pointer;
}
.dayContain{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 0px;
    margin-left: 51px;
    margin-right: 71px;
}
#days{
    margin-left: 170px;
    margin-top: -680px;
    position: absolute;
    display: flex;
    flex-direction: row;
}
#addButton{
    border-radius: 7px;
    background-color: #EE9D7B;
    width: 130px;
    height: 36px;
    position: absolute;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 23px;
    color: white;
    text-align: center;
    margin-top: -760px;
    margin-left: 1000px;
}
#addButton:hover{
    cursor: pointer;
    margin-top: -764px;
    background-color: #df8f6c;
    color: rgb(235, 226, 226);
}
#timeCell1, #timeCell2, #timeCell3, #timeCell4, #timeCell5, #timeCell6, #timeCell7, #timeCell8 {
    background-color: white;

} 
#timeCell1:hover, #timeCell2:hover, #timeCell3:hover, #timeCell4:hover, #timeCell5:hover, #timeCell6:hover, #timeCell7:hover, #timeCell8:hover {
    background-color: rgb(241, 241, 255);
    cursor: pointer;

}
#AddEvent{
    background-color: white;
    border: #6E84AB;
    border-style: solid;
    border-width: 20px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    position: absolute;
    margin-top: -400px;
    visibility: hidden;
}
.timetable{
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-left: 25px;
    margin-top: 48px;
}
#dates{
    margin-left: 170px;
    margin-top: -680px;
    position: absolute;
    display: flex;
    flex-direction: row;
}
#dateContain{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 102px;
}
#calendarEvent1{
    background-color: #FFB1FC;
    width: 120px;
    height: 45px;
    border-radius: 10px;
    position: absolute;
    margin-top: -478px;
    margin-left: 152px;
    transition: height 0.6s, width 0.6s;
    overflow: hidden;
}
#calendarEvent1:hover{
    background-color: #FFB1FC;
    width: 190px;
    height: 195px;
    border-radius: 10px;
    position: absolute;
    margin-top: -478px;
    margin-left: 152px;
    transition: height 0.6s, width 0.6s;
}
#pink{
    color: #835E88;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 4px;

}
#detailsDate1{
    color: #835E88;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 120px;
    margin-top: -30px;
    position: absolute;

}
#detailsTime1{
    color: #835E88;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: -6px;

}
#detailsLoc1{
    color: #835E88;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 6px;

}
#detailsDesc1{
    color: #835E88;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 16px;

}
#detailsPlanner1{
    color: #835E88;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 110px;
    margin-top: 50px;

}
#calendarEvent2{
    background-color: #C3F8BB;
    width: 120px;
    height: 45px;
    border-radius: 10px;
    position: absolute;
    margin-top: -478px;
    margin-left: 345px;
    transition: height 0.6s, width 0.6s;
    overflow: hidden;
}
#calendarEvent2:hover{
    background-color: #C3F8BB;
    width: 190px;
    height: 195px;
    border-radius: 10px;
    position: absolute;
    margin-top: -478px;
    margin-left:  345px;
    transition: height 0.6s, width 0.6s;
}
#green{
    color: #5A7456;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 4px;

}
#detailsDate2{
    color: #5A7456;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 120px;
    margin-top: -30px;
    position: absolute;

}
#detailsTime2{
    color: #5A7456;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: -6px;

}
#detailsLoc2{
    color: #5A7456;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 6px;

}
#detailsDesc2{
    color: #5A7456;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 16px;

}
#detailsPlanner2{
    color: #5A7456;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 110px;
    margin-top: 50px;

}
#calendarEvent3{
    background-color: #FFCD9E;
    width: 120px;
    height: 45px;
    border-radius: 10px;
    position: absolute;
    margin-top: -390px;
    margin-left: 735px;
    transition: height 0.6s, width 0.6s;
    overflow: hidden;
}
#calendarEvent3:hover{
    background-color: #FFCD9E;
    width: 190px;
    height: 195px;
    border-radius: 10px;
    position: absolute;
    margin-top: -390px;
    margin-left:  735px;
    transition: height 0.6s, width 0.6s;
}
#orange{
    color: #866E57;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 4px;

}
#detailsDate3{
    color: #866E57;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 120px;
    margin-top: -30px;
    position: absolute;

}
#detailsTime3{
    color: #866E57;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: -6px;

}
#detailsLoc3{
    color: #866E57;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 6px;

}
#detailsDesc3{
    color: #866E57;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 16px;

}
#detailsPlanner3{
    color: #5A7456;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 110px;
    margin-top: 50px;

}
#calendarEvent4{
    background-color: #4ECAFF;
    width: 120px;
    height: 45px;
    border-radius: 10px;
    position: absolute;
    margin-top: -275px;
    margin-left:  345px;
    transition: height 0.6s, width 0.6s;
    overflow: hidden;
}
#calendarEvent4:hover{
    background-color: #4ECAFF;
    width: 190px;
    height: 195px;
    border-radius: 10px;
    position: absolute;
    margin-top: -275px;
    margin-left:  345px;
    transition: height 0.6s, width 0.6s;
}
#blue{
    color: #4D6487;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 4px;

}
#detailsDate4{
    color: #4D6487;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 120px;
    margin-top: -30px;
    position: absolute;

}
#detailsTime4{
    color: #4D6487;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: -6px;

}
#detailsLoc4{
    color: #4D6487;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 6px;

}
#detailsDesc4{
    color: #4D6487;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 16px;

}
#detailsPlanner4{
    color: #4D6487;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    margin-left: 110px;
    margin-top: 50px;

}
#timer{
    color: white;
    background-color: #ff843c;
    width: 60px;
    height: 18px;
    position: absolute;
    border-radius: 5px;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-left: 40px;
    margin-top: -420px;
}
#timerLine{
    background-color: #ff843c;
    width: 1023px;
    height: 5px;
    margin-left: 58px;
    margin-top: -10px;
}